/* Reseteo los valores por defecto */
*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

/*Menú lateral*/
.menuHamburguesa{
    font-family:Arial, Helvetica, sans-serif;
    width: 10%;
    height: 9%;

    position: fixed;
    transition: .4s all;
    z-index: 1;
}

.menuHamburguesa ul{
    padding: 0;
    text-align: center;
}

.menuHamburguesa li{
    transition: .3s all;
}

.menuHamburguesa a{
    text-decoration: none;
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}

.menuHamburguesa h2{
    text-align: center;
    color: white;
    padding: 7px;
    padding-bottom: 7px;

    font-size: 0px;
}

.menuHamburguesa img{
    padding-top: 30px;
    padding-left: 10px;
    max-width: 25%;
    height: auto;
}
.menuHamburguesa:hover{
    width: 17%;
    height: 100%;
    background-color: rgba(5,33,51,0.98);
}
.menuHamburguesa:hover h2{
    padding: 15px;
    font-size: 35px;
}

.menuHamburguesa:hover a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px;
}
.menuHamburguesa:hover img{
    height: 0px;
}
.menuHamburguesa:hover li{
    border-top:1px solid black ;
    width: 100%;
}
.menuHamburguesa:hover ul:last-of-type{
    border-bottom: 1px solid black;
}

.menuHamburguesa:hover a:hover{
    font-size: 25px;
    padding: 30px 0;
    background-color: rgba(22, 78, 112, 0.98);
}
/* Selector de divisa*/
#selectorDivisa{
    position: relative;
    left: 80%;
    top: 5%;
}

/*Icono carrito y unidades*/
.imagenCarrito{
    position: relative;
    z-index: 1;
    left: 90%;
    top: 30px;
    max-height: 43px;
}
#moneda{
    border-radius: 5%;
}

.unidadesCarrito {
    position: absolute;
    z-index: 2;
    left: 92%; 
    top: 15px; 
    opacity:0.9;
    background-color: rgba(22, 78, 112, 0.98);
    border: 2px solid white;
    border-radius: 12px; 
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 26px; 
    min-width: 26px;
    padding: 4px 3px 0 3px;
    text-align: center;
}
#linkCarritoUnidades{
    height: 50px;
    width: 50px;
}

.mCarritoVacio
{
    margin-top:20px;
}
/*Productos*/
.containerProductos{
    position:absolute;
    top:10%;
    left:20%;
    max-width: 75%;
    padding-bottom: 25px;
}
.containerProductos h2{
    padding-bottom: 20px;
}

.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 4;               /* Numero de lineas a mostrar */ 
   -webkit-box-orient: vertical;
}
.price{
    color: orange;
    padding-bottom: 10px;
}

/*Precio total productos*/
#precio{
    margin-top: 50px;
    color: orange;
}

/*Boton continuar compra del carrito*/
#btnContinuar{
    margin-top: 20px;
}

/*Elementos de porductos html*/
#imagenProducto{
    max-width: 400px;
    max-width: auto;
}

#contenedorProducto{
    max-width: 90%;
}
.carousel{
    max-width: 400px;
    min-width: 350px;
}
.carousel-inner{
    border: 5px solid rgba(22, 78, 112, 0.98);
    border-radius: 5px;
}

#contenedorProducto{
    display: flex;
    flex-direction: row;
}

#descripcion{
    margin-top: 100px;
    overflow:visible;
}

#botonCompra{
    margin-top: 30px;
}

/* Checkout HTML*/
.contenedorFormulario{
    position:absolute;
    top:10%;
    left:20%;
    display: flex;
    flex-direction: row;
}

.contenedorCarritoCheck{
    opacity:0.9;
    background-color: rgba(22, 78, 112, 0.98);
    border: 2px solid white;
    border-radius: 12px; 
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 26px; 
    min-width: 26px;
    padding: 4px 3px 0 3px;
    text-align: center;
}

/*Buscador*/
#contenedorBuscador{
    width: 100%;
    padding-bottom: 10px;
}